@font-face {
    font-family: 'Platypi';
    src: url('path/to/Platypi-VariableFont_wght.ttf') format('truetype');
    font-weight: 1 999; /* Font weight range */
    font-stretch: 1% 100%; /* Font stretch range */
}
html{
    width: 100%;
}

body {
    font-family: 'Platypi', sans-serif;
    width: 100%;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: Arial, sans-serif; */
    line-height: 1.6;
    background-color: antiquewhite;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.hidden {
    display: none;
}
header {
    /* background-color: # 161515; */
    color: #fff;
    /* padding: 1rem; */
    
}

/* nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
} */

/* main {
    padding: 2rem;
} */

/* section {
    margin-bottom: 2rem;
} */

/* footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
} */

.image{
    width: 100%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.clickable {
    font-size: 24px;
    padding: 44.7px 0;
    /* height: 100%; */
    flex: 1;
    /* Distribute equal space among items */
    text-align: center;
    /* Center align text */
    /* padding: 100%; */
    /* Adjust vertical padding */
    cursor: pointer;
    transition: background-color 0.3s;
    /* Smooth transition effect */
}

.clickable:hover {
    background-color: rgb(255, 255, 255); 
    color: black;
}

.booking{
    background-color: #000000;
    color: aliceblue;
    border-radius: 20px;
    opacity: 85%;
    padding: 5%;
    margin: 5%;
}
#btable{
    width: 100%;
    text-align: left;
    font-size: 24px;
}

.submitbtn{
    background-color: rgb(98, 132, 30);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
}

.form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 80%;
    color: white;
}
div {
    display: block;
    unicode-bidi: isolate;
}
/* legend{
    color: white;
} */
legend{
    color: white;
    font-size:20px;
    text-align: center;
    display: block;
}
input[type="text"],input[type="number"], button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.image{
    width: 340px;
    height: 112px;
    display: block;
  /* margin-left: auto; */
  /* margin-right: auto; */
  padding: 20px;
 background-color:whitesmoke ;
}

#clglogo {
    /* display: flex; */
    align-items: center;
}

#uiclogo {
    width: 420px;
    height: 142px;
    /* margin-right: 10px; Adjust as needed */
    background-color:  transparent;
    /* scale: 0.2; */
    
}

.navbar {
    background-color: #000000;
    /* align-items: center;
    background-color: black;
    color: white; */
    display: flex;
    width: 100%;
}

.nav-item {
    height: 100%;
    padding: 0px 30px;
    font-size: 15px;
    width: fit-content;
}

.image {
    /* max-height: 50px; */
    vertical-align: middle;
}

.logout{
    background-color: red;
}