/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: antiquewhite;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.hidden {
    display: none;
}
header {
    /* background-color: # 161515; */
    color: #fff;
    /* padding: 1rem; */
    
}

/* nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
} */

/* main {
    padding: 2rem;
} */

/* section {
    margin-bottom: 2rem;
} */

/* footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
} */

.image{
    width: 100%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.clickable {
    /* height: 100%; */
    flex: 1;
    /* Distribute equal space among items */
    text-align: center;
    /* Center align text */
    /* padding: 100%; */
    /* Adjust vertical padding */
    cursor: pointer;
    transition: background-color 0.3s;
    /* Smooth transition effect */
}

.clickable:hover {
    background-color: rgb(255, 255, 255); 
    color: black;
}

.submitbtn{
    background-color: rgb(98, 132, 30);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
}

.form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 80%;
    color: white;
}
div {
    display: block;
    unicode-bidi: isolate;
}
/* legend{
    color: white;
} */
legend{
    color: white;
    font-size:20px;
    text-align: center;
    display: block;
}
input[type="text"], button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.image{
    width: 340px;
    height: 112px;
    display: block;
  /* margin-left: auto; */
  /* margin-right: auto; */
  padding: 20px;
 background-color:whitesmoke ;
}

#clglogo {
    display: flex;
    align-items: center;
}

#uiclogo {
    /* margin-right: 10px; Adjust as needed */
}

.navbar {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    /* justify-content: space-between; */
    /* padding: 10px; */
}

.nav-item {
    height: 100%;
    padding: 40px;
    font-size: 20px;
}

.image {
    /* max-height: 50px; */
    vertical-align: middle;
}