@font-face {
    font-family: 'Platypi';
    src: url('path/to/Platypi-VariableFont_wght.ttf') format('truetype');
    font-weight: 1 999;
    font-stretch: 1% 100%;
}

body {
    font-family: 'Platypi', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #d3c9c9;
}


h1 {
    text-align: center;
    margin-top: 50px;
}

#role {
    margin: 0 0 10px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border-color: grey;
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.submit {
    background-color: #a02027;
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    color: #fff;
    border: none;
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: larger;
}

input[type="text"],
input[type="password"],
button {
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

body {
    background-color: gray;

}

#login {
    background-color: black;
    text-align: center;
    color: white;
    padding: 1vw;
}

button:hover {
    background-color: #0056b3;
}

.ip {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.logo {
    display: flex;
    background-color: #8a7a7ab6;
    /* background-color: #a02027; */
    opacity: 80%;
}

#uiclogo {
    width: 400px;
    height: 139.36px;
}

.heading {
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 0;
    text-align: center;
    font-size: 40px;
    align-self: baseline;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
}

.validationMessage {
    color: a02027;
}

body {
    background-image: url("../assets/bg.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.submit:hover {
    background-color: #45a049;
}