/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: antiquewhite;
}
.hidden {
    display: none;
}
header {
    /* background-color: # 161515; */
    color: #fff;
    padding: 1rem;
    
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.image{
    width: 100%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.clickable {
    flex: 1; /* Distribute equal space among items */
    text-align: center; /* Center align text */
    padding: 20px 0; /* Adjust vertical padding */
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition effect */
    /* display:block; */
}

.clickable:hover {
    background-color: rgb(255, 255, 255); 
    color: black;
}
nav {
    background-color: black;
    color: white;
    display: flex;
}
.submitbtn{
    background-color: yellowgreen;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
}
