
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d7adad;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* background: opa; */
}

label {
    display: block;
    margin-bottom: 10px;
    font-size:larger;
}

input[type="text"],
input[type="password"],
button {
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
body{
    background-color: gray;
   
}
#login{
    background-color: black;
    text-align: center;
    margin: 20px;
    color: white;
    padding: 1vw;
}

button:hover {
    background-color: #0056b3;
}
.ip{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.heading{
    margin-left: 40%;
    color:#efdfdf;
    display: flex;
}
.image{
    width: 25%;
    display: block;
  /* margin-left: auto; */
  margin-right: auto;
  padding: 20px;
 
}
body{
    /* background-color: black; */
    background-image:url("bg.png") ;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    background-color: #d7adad;
    /* background: transparent; */

}